body {
    background-color: #31302E;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 6.7vw;
    text-align: center;
    margin-top: 1vh;
    color: #DADEE3;
}

#boutons{
    display: flex;
    flex-direction: column;
    width : 70vw;
    margin-left: 15vw;
    margin-top: 23vh;
}

.btn-primary{
    margin-bottom: 1vh;
    font-size: 2vw;
    background-color: #E86C00;
    border: none;
    
}

.btn-primary:hover{
    background-color : #ff6600;
    color : lightslategray;
}

.btn-primary:active{
    background-color : #ff6600; 
}

#quitter{
    font-size: 1vw;
    margin-top: 1vh;
    margin-left: 0.5vw;
}
