body {
    background-color: #31302E;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 5vw;
    text-align: center;
    margin-top: 1vh;
    color: #DADEE3;
}

#boutons{
    display: flex;
    flex-direction: column;
    width : 30vw;
    margin : 0 auto;
    margin-top: 20vh;
}

.btn-primary{
    margin-bottom: 2vh;
    font-size: 2vw;
    background-color: #E86C00;
    border: none;
    border-radius: 1vh;
    
}

.btn-primary:hover{
    background-color : #b96a35;
}

.btn-primary:active{
    background-color : #ff6600; 
}

#quitter{
    font-size: 1vw;
    margin-top: 1vh;
    margin-left: 0.5vw;
}
