#ajout {
    background-color: #534F47;
    width: 65%;
    height : 65%;
    border-radius: 15px;
    display : flex;
    flex-direction: column;
    align-items: center;
}

#titre{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
    text-align: center;
    color: #DADEE3;
    margin-top: 3vh;
}

#recherche {
    display : flex;
    margin : 0 auto;
    margin-top: 12vh;
    flex-direction: column;
}

label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25vw;
    text-align: center;
    color: #DADEE3;
}

.form-control {
    background-color: #31302E;
    color: #FFFFFF;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    padding: 1.48vh 2vh;
    border: #E86C00;
}

.form-control:focus {
    background-color: #31302E;
    color: #FFFFFF;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    box-shadow: 0 0 0 .2rem #885221;
}

form {
    display: flex;
    flex-direction: column;
}

#cherch {
    background-color: #E86C00;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    color: #DADEE3;
    font-weight: 400;
    font-size: 2vw;
    padding: 1.2vh 0;
}

#cherch:hover {
    background-color: #945115;
}


.form-check-input:focus {
    border-color: #E86C00;
    box-shadow: 0 0 0 .25rem rgba(232, 108, 0, .25);
}

.form-check-input:checked {
    background-color: #E86C00;
    border-color: #E86C00;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    text-align: center;
    color: #DADEE3;
}

#ajout i{
    color: #E86C00;
}

#ajout i:hover{
    color: #945115;
}

#close {
    display: none;
}

@media(max-width: 600px) {
    #ajout {
        width: 80%;
        height : 50%;
        margin-top: 20vw;
    }

    #titre {
        margin-top: 8vw;
    }

    #recherche {
        margin-top: 10vw;
    }

    label {
        font-size: 4vw;
    }

    .form-control {
        font-size: 2.5vw;
        padding: 5vw 4vw;
    }

    .form-control:focus{
        font-size: 3vw;
        padding: 5vw 4vw;
    }

    #cherch {
        font-size: 4vw;
        padding: 3vh 0;
    }

    h2 {
        font-size: 8vw;
    }

    #close {
        display : none;
    }
    
    .form-check-input:checked{
        font-size: 3vw;
    }

}