#BodyFriends {
    background-color: #534F47;
    width: 65%;
    height: 70%;
    border-radius: 15px;
    display: flex;
    flex: 6;
    flex-direction: column;
}

#HeaderFriends {
    font-family: 'poppins';
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25%;
    color: white;
    margin-top: 4%;
    margin-left: 50%;
    margin-right: 5%;
}

#Friends {
    margin-left: 5%;
    flex: 5;
}

#one {
    overflow-y: scroll;
    display: flex;
    max-height: 50vh;
    flex-direction: column;
    background-color: gray;
    min-height: 5em;
    padding: 1em 4em;
    font: 1em/150% sans-serif;
    position: relative;
    border-radius: 30px;
    padding-right: 3vw;
    width: 49vw;
    margin-bottom: 1%;
}

.liste {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5vh;
}

.ppfriends {
    height: 6.2vh;
    border-radius: 15px;
}

.DF {
    margin-left: 1vw;
    margin-top: 1.1%;
    font-size: 115%;
}

#btn {
    background: #E86C00;
    color: #FFFFFF;
    order: 3;
    margin-right: 3.1vw;
    margin-top: 3.9vh;
    height: 2vh;
    line-height: 0;
}

.fa-solid {
    color: #E86C00;
}