body {
    background-color: #31302E;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 6.7vw;
    text-align: center;
    margin-top: 1vh;
    color: #DADEE3;
}

/*footer*/
footer {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
}

footer hr {
    width: 9.6vw;
    height: 0px;
    border: 1px solid #FFFFFF;
    order: 2;
    margin-top: 0px;
    margin-bottom: 12vh;
    margin-left: -10vw;
}

footer p {
    color: #FFFFFF;
    order: 1;
    margin-left: 8.33vw;
    margin-top: 5.2vh;
}

#btn-contact {
    background: #E86C00;
    color: #FFFFFF;
    order: 3;
    margin-right: 3.1vw;
    margin-top: 3.9vh;
    height: 4vh;
    min-height: 35px;
    line-height: 0;
    padding-top: 2vh;
}

/*user infos*/
#user-infos {
    background-color: #625D52;
    padding: 1vh 1vw;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 15px;
    color: #EBEEF2;
    text-align: center;
    padding-top: 1vh;
}

#profile_picture {
    height: 3.2vh;
    border-radius: 20px;
}

#title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 0.7vw;
    line-height: 2.5vh;
}

#username {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 0.7vw;
    line-height: 1.8vh;
    margin-left: 0.5vw;
}

.fa-bell-o {
    color: #EBEEF2;
    line-height: 1.8vh;
    font-size: 0.9vw;
}

#parametres {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 800;
    line-height: 1.8vh;
    font-size: 0.9vw;
    color: #A5ABB3;
}

.fa-gear {
    color: #A5ABB3;
    line-height: 1.8vh;
    font-size: 0.9vw;
}

.progress-bar {
    background-color: #E86C00;
}

.progress {
    border-radius: 0px;
    background-color: #885221;
    margin-left: 2.3vw;
    margin-right: 2.3vw;
    height: 0.9vh;
}

#niveau {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 0.9vw;
    line-height: 2.5vh;
}


/*nav*/

nav {
    position: absolute;
    top: calc(50% - 100px);
    left: 0.7vw;
    display: flex;
    flex-direction: column;
}

nav a {
    color: #FFFFFF;
    margin-top: 1.8vh;
    font-size: 0.9vw;
    flex: 1;
}

nav a:hover {
    color: #E86C00;
}

#selected_icon {
    color: #E86C00;
}

nav #separator {
    position: absolute;
    width: 1px;
    height: 13vh;
    background-color: #FFFFFF;
    left: 1.6vw;
    top: calc(50% - 6.5vh);
}

#subpage {
    margin-left: calc(50% - 32.6vw);
}

.fa-right-from-bracket {
    color: rgba(255, 0, 0, 0.87);
    position: absolute;
    top: 1vh;
    left: 1vh;
    font-size: 1.7vw;
}

#logout {
    text-decoration: none;
}