#BodyObjectifs{
    background-color: #534F47;
    width: 65%;
    height : 65%;
    border-radius: 15px;
    display : flex;
    flex-direction: column;
}

#HeaderObjectifs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6%;
    margin-bottom: 4%;
    align-items: center;
}

#HeaderObjectifs a, #Objectifs a{
    font-size:3vh;
    font-family: 'poppins';
    color : white;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    align-items: center;
}

#HeaderObjectifs a:hover, #Objectifs a:hover{
    color: lightslategray;
    text-decoration-color: lightslategray;
}


#btn-ajout{
    background-color: #E86C00;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1vw;
    padding: 1% 1%;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 6vh;
    width : 14vw;
}

#btn-ajout:hover{
    background-color: #a24c00;
    color : white;
}



#non_selected, #Objectifs a{
    text-decoration: none;
}

#Objectifs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    margin: 0 5%;
    align-items: center;
}

#Objectifs a{
    margin: 1%;
    padding: 1%;
    border-radius: 1vh;
    color: white;
    text-decoration: none;
}

@media(max-width: 600px) {
    #BodyObjectifs{
        width: 80%;
        height : 50%;
    }
    #HeaderObjectifs{
        flex-direction: column;
    }
    #HeaderObjectifs a, #Objectifs a{
        font-size: 6vw;
        margin-bottom: 2vw;
    }
    #btn-ajout{
        width : 50vw;
        font-size: 4vw;
    }
}