#BodyObjectifs{
    background-color: #534F47;
    width: 65%;
    height : 65%;
    border-radius: 15px;
    display : flex;
    flex-direction: column;
}

#HeaderObjectifs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6%;
    margin-bottom: 6%;
}

#HeaderObjectifs a{
    font-size:x-large;
    font-family: 'poppins';
    color : white;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
}

#btn-ajout{
    background-color: #E86C00;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-size : x-large;
    font-size: 2%;
    padding: 1% 1%;
}

#non_selected{
    text-decoration: none;
}

#Objectifs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    margin: 0 5%;
}

#Objectifs a{
    margin-bottom: 7%;
}

