body{
    background: rgb(49,48,46);
    background: linear-gradient(135deg, rgba(49,48,46,1) 7%, rgba(83,79,71,1) 25%, rgba(54,54,103,1) 100%); 
    display : flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding-right: 4vw;
    padding-left: 4vw;
    position: center;
}

#ObjectifHeader{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    color: #DADEE3;
    margin-bottom: 2vh;

}

p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3vh;
    text-align: left;
    color: #DADEE3;
}

#progressText{
    font-size : 1vw;
    text-align: center;
    color: #E86C00;
}

#HautHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nom_obj{
    display: flex;
    flex-direction: row;
    align-items: center;
}

i{
    color : #E86C00;
    margin-left: 1vh;
    margin-right: 1vh;
}

i :hover{
    color: #945115;
}

#description p{
    color: #DADEE3;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 2.3vh;
}

h2{
    color: #DADEE3;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.5vw;
    text-decoration: underline;

}

#ObjectifBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5vh;
    padding-top: 7vh;
}

#HautObjectif{
    display: flex;
    flex-direction: row;
}

#HautObjectif #gauche{
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

#HautObjectif #droite{
    display: flex;
    justify-content: center;
    flex: 1;
    border-radius: 2vh;
}

#btn{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.btn_valider{
    width: 20vh;
    height: 6vh;
    background-color: #E86C00;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8vh;
    color : whitesmoke;
    border-radius: 1vh;
}

.btn_valider:hover{
    background-color: #945115;
    color : lightgray;
}

#BasObjectif{
    display: flex;
    flex-direction: column;
}

#BasObjectif p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 0.5vw;
    text-align: left;
    color: #DADEE3;
}

.fc{
    background-color: #31302E;
    border-radius: 1vh;
    border: none;
}

#fc-dom-1{
    font-size: 2vw;
    text-decoration: none;
}

#calendar button{
    background-color: transparent;
    border: none;
    font-size: 2vw;
    color : #E86C00;
}

.fc th{
    color: whitesmoke;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.7vw;
    border : 0;
}

.fc td{
    color: whitesmoke;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 0.9vw;
    align-items: center;
    border : 0;
}




.fc-scrollgrid-sync-table, thead{
    background-color: #31302E;
    border-radius: 1vh;
    border: none;
}

.fc-daygrid-day-number{
    color: whitesmoke;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9vw;
}

#droite button{
    background-color: transparent;
    border: none;
}

#gauche h2{
    color: #DADEE3;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.8vw;
}

#container{
    position: relative;
}

#icon-div{
    background-color: #31302E;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 55%;
    height : 15vh;
    width: 6vh;
    padding: 1vh;
    border : 0.1vh solid #E86C00;
}

#icon-div i{
    margin-top: 1.5vh;
}

#icon{
    color: #E86C00;
    font-size: 2.3vw;
    margin: auto;
    background-color: transparent;
    border: none;
}

#orange{
    color: #E86C00;
}

#validation-div{
    background-color: #31302E;
    border-radius: 1vh;
    border : 0.1vh solid #E86C00;
    opacity : 0.9;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 9999;
    width: 50vh;
    height: 38vh;
    flex-direction: column;
    padding: 1.2vh;
    margin : auto;
    text-align: center;
}

#validation-div h2{
    color: #DADEE3;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.8vw;
    margin-top: 2vh;
    text-decoration: none;
}

#validation-div p{
    color: #DADEE3;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.7vw;
    margin-top: 2vh;
    text-align: center;
}

.progress{
    background-color: #31302E;
    width: 50%;
    text-align: center;
    margin: auto;
    height: 2vh;
    font-size: medium;
    font-family: poppins;
    font-weight: 400;
    color: #DADEE3;
    margin-top: 1vh;
    margin-bottom: 1vh;

}

.progress-bar{
    background-color: #E86C00;
    height: 2vh;
}

#separator{
    width: 35%;
    height: 1px;
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
}

@media(max-width: 600px){
    #ObjectifBody{
        padding-top: 4vw;
    }
    #HautObjectif{
        flex-direction: column;
    }
    #HautObjectif #gauche{
        flex: 1;
    }
    #HautObjectif #droite{
        flex: 1;
        margin-top: 2vh;
    }
    #BasObjectif{
        margin-top: 2vh;
    }
    #BasObjectif p{
        font-size: 1.5vw;
    }
    .fc th, .fc td, .fc-daygrid-day-number{
        font-size: 2vw;
    }
    #gauche h2{
        font-size: 5vw;
    }
    
    #validation-div{
        width: 80vw;
        height: 80vw;
    }
    #validation-div h2{
        font-size: 5vw;
    }
    #validation-div p{
        font-size: 3vw;
    }
    .progress{
        width: 70%;
        font-size: 1.5vw;
    }
    .progress-bar{
        height: 2vh;
    }
    #separator{
        width: 80%;
    }
    #nom_obj{
        font-size: 6vw;
    }
    #icon-div{
        top: 90%;
        right : 10vw;
        height : 32vw;
        width: 11vw;
        padding: 1vw;
    }

    #icon-div i{
        margin-top: 4vw;
        font-size: 10vw;
    }
    #icon{
        font-size: 8vw;
    }
    #fc-dom-1{
        font-size: 4vw;
    }
    #calendar button{
        font-size: 4vw;
    }
    #droite button{
        font-size: 4vw;
    }
    i{
        font-size: 8vw;
    }

    #HautHeader{
        text-align: center;
        align-items: center;
    }

    #progressText{
        font-size: 3vw;
    }
}



















