body {
    background-color: #31302E;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 5vw;
    text-align: center;
    margin-top: 1vh;
    color: #DADEE3;
}

label,legend{
    font-family: 'poppins';
    color: #DADEE3;
}

form[name = "task_perso"]{
    width : 30vw;
    margin-left : 35vw;
    margin-top: 10vh;
}

#buttons{
    margin-left: 35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-primary{
    font-family : "poppins";
    background-color: #E86C00;
    border: none;
    border-radius: 1vh;
    
}

.btn-primary:hover{
    background-color : #b96a35;
}

.btn{
    width: max-content;
    margin-bottom: 1vh;
    border-radius: 1vh;
    font-family: "poppins";
}