{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style/task/edit.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}Modifier la Tâche perso{% endblock %}
    
    {% block body %}
    <script src="https://kit.fontawesome.com/a398bc3145.js" crossorigin="anonymous"></script>
        <span id="close">
            <a href="/home/objectifs">
                <i class="fa-solid fa-xmark"></i>
            </a>
        </span>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Modifier la tâche personnelle</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_start(task_perso) }}
                        {{ form_widget(task_perso) }}
                    {{ form_end(task_perso) }}
                </div>
            </div>
        </div>
    {% endblock %}

