<html lang="fr">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/friends.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    {% endblock %}
    <body>
        {% block body %}
            


        {% endblock %}
    </div>