<html lang="fr">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/friends.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    {% endblock %}
    <body>
        {% block body %}
            <script src="https://kit.fontawesome.com/a398bc3145.js" crossorigin="anonymous"></script>
            <div id="bodyfriends">
                <div id="Headerfriends">
                    <h2>Amis</h2>
                    <a class="btn" href="/home/addfriends"><i class="fa-solid fa-user-plus" color="#E86C00"></i></a>
                </div>
            
                <div id="Friends">
                        <div id="one">
                        {% for ami in amis %}
                            <div class="liste">        
                                <img class="ppfriends" src="{{asset('profile_pictures/' ~ ami.pp ~ '')}}" alt ="profile picture">
                                <div class="DF">
                                {{ ami.username }} </br>
                                Test
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>