body {
    background-color: #31302E;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    text-align: center;
    margin-top: 1vh;
    color: #DADEE3;
}

label, legend{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    text-align: left;
    color: #DADEE3;
}

form[name = "task"]{
    width : 30vw;
    margin-left : 35vw;
}


.btn{
    width: max-content;
    margin-bottom: 1vh;
}

.form-select{
    color: white;
    background-color: #534F47;
    font-size: 1vw;
}

.form-select:focus{
    box-shadow: 0 0 0 .2rem #885221;
}

.form-control{
    background-color : #534F47;
    color : #FFFFFF;
    border: none;
    margin-top: 0.7vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    padding: 1.48vh 2vh;
}

.form-select:focus{
    box-shadow: 0 0 0 .2rem #885221;
}

.form-control:focus{
    background-color : #534F47;
    color : #FFFFFF;
    border: none;
    margin-top: 0.7vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    padding: 1.48vh 2vh;
    box-shadow: 0 0 0 .2rem #885221;
}


.form-control::placeholder{
    color : #ffffff70;
    opacity : 1;
}

#task_perso_Enregistrer{
    background-color: #E86C00;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    width: auto;
}
