{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ button_label|default('sauvegarder') }}</button>
    {{ form_end(form) }}
{% endblock %}