body {
    background-color: #31302E;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 5vw;
    text-align: center;
    margin-top: 1vh;
    color: #DADEE3;
}

#divTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 50vh;
    width: 100vw;
}

th,td{
    font-family: 'poppins';
    color: #DADEE3;
}

#new-category{
    display: flex;
    justify-content: flex-end;
    margin-top: 2vh;
}

.btn-new-category{
    margin-right: 1vw;
}

.table{
    width: 30vw;
}

#buttons{
    margin-left: 35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-primary{
    font-family : "poppins";
    background-color: #E86C00;
    border: none;
    border-radius: 1vh;
    
}

.btn-primary:hover{
    background-color : #b96a35;
}

.btn{
    width: max-content;
    margin-bottom: 1vh;
    border-radius: 1vh;
    font-family: "poppins";
}

#quitter{
    font-size: 1vw;
    margin-top: 1vh;
    margin-left: 0.5vw;
}
