{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style/admin.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    <a id="quitter" class="btn btn-danger" href = "/home/objectifs">Quitter le panel administrateur</a>
    <h1>Panel administrateur</h1>

    <div id="boutons">
        <a class="btn btn-primary" href = "/admin/user">Utilisateur</a>
        <a class="btn btn-primary" href = "/admin/category">Catégorie</a>
        <a class="btn btn-primary" href = "/admin/task">Tâches</a>
        <a class="btn btn-primary" href = "/admin/task_perso">Tâches perso</a>
    </div>
{% endblock %}