<html lang="fr">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/objectifs.css') }}">
    {% endblock %}
    <body>
        <div id="BodyObjectifs">
            test
        </div>
    </body>
</html>